.form {
    $self: &;

    [type="email"],
    [type="password"],
    [type="search"],
    [type="text"],
    [type="date"],
    select {
        @include animate(border-color);
        width: 100%;
        height: 50px;
        font: #{$font-size-base}/$line-height-base $font-family-base;
        padding: 5px 25px;
        border-radius: 25px;
        border: 2px solid rgba($black, 0.3);
        outline: none;

        &:focus {
            border-color: $black;
        }

        &[readonly] {
            border-color: rgba($black, 0.1);
            pointer-events: none;
        }
    }

    &__filter {
        padding: 40px 0;
    }

    &__group {
        margin-bottom: 25px;
        position: relative;

        >label {
            @include animate(top font-size);
            background: $milky-white;
            text-transform: uppercase;
            font-size: 85%;
            padding: 2px 10px;
            position: absolute;
            left: 25px;
            transform: translateY(-50%);
            top: 25px;
            user-select: none;
            pointer-events: none;
        }

        &.has--text {
            >label {
                top: 0;
                font-size: 75%;
            }
        }
    }

    &__action {
        text-align: right;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .holder>*+*,
        >*+* {
            margin-left: 10px;
        }

        .holder {
            margin-left: auto;
            margin-bottom: 15px;
        }

        .btn {
            margin-left: auto;
        }

    }

    &__message {
        text-align: start;
        color: $danger;
        flex-grow: 1;
        font-size: 75%;
    }

    &__inline {
        display: flex;
        justify-content: center;

        #{$self}__group {
            margin-bottom: 0;

            &:not(&:only-child) {
                &:not(&:first-child):not(&:last-child) {

                    input,
                    select {
                        border-radius: 0;
                        border-right: none;
                    }
                }

                &:first-child {

                    input,
                    select {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        border-right: none;
                    }
                }

                &:last-child {

                    input,
                    select {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
            }
        }

        #{$self}__action .btn {
            height: 50px;
            font-size: 20px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &__links {
        padding-top: 20px;

        p {
            margin-bottom: 0;
        }
    }
}

.custom__file {
    background: rgba($black, 0.1);
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    border-radius: 20px;
    border: 1px dashed $black;
    cursor: pointer;
    overflow: hidden;

    input {
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }

    img {
        @include size(100%);
        object-fit: cover;
    }
}

.checkbox {
    $self: &;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;

    input {
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }

    &__text {
        display: inline-block;
        vertical-align: top;
        padding: 10px 20px;

        &::before {
            @include size(20px);
            content: '';
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            border: 3px solid $black;
            border-radius: 50%;

            #{$self}--checked & {
                background: $primary;
                border-color: $primary;
            }
        }

        #{$self}--checked & {
            background: rgba($primary, 0.2);
            color: $primary;
            border-radius: 25px;
        }
    }

    &__list {
        columns: 2;
    }
}